* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.8; }
ul {
  margin: 0;
  padding: 0; }
 
a {
  color: #282828;
  text-decoration: none; }
.container {
  max-width: 80%;
  margin: 0 auto; }
.center {
  text-align: center;
}
h1 {
  font-size: 60px;
  margin: 0px;
}
h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 0px;
}
p {
  font-size: 20px;
  font-weight: 300;
  margin:0px;
}
ul li{
  list-style-type: none; 
  padding-bottom: 4%;
}
nav{
  padding:0% 10%;
  height:42px;
  z-index: -1;
}
header{
  background-image: url(abstract.jpg);
  height:370px;
  width:100%;
  background-size: 100%;
}
section.main{
  padding:3% 6%;
  background: #586f75;
  height:auto;
  width:100%;
}
ul li{
  display: inline;
}
.left{
  float: left;
}
.right{
  float: right;
}
.logo_img{
  width: 50px;
  height: 50px;
}
ul{
  padding-top: 1%;
}
.profile-pic{
  width:200px;
  height: 200px;
  border-radius:10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}
.white-box{
  background-color: rgba(255,255,255,0.6);
  border-radius:12px;
  padding:0px 50px;
  
}
.parallax { 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inline img{
  display: inline;
}